amqp==5.3.1
anyio==4.10.0
APScheduler==3.11.0
asgiref==3.9.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
billiard==4.2.1
cffi==2.0.0
channels==4.3.1
channels_redis==4.3.0
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cron_descriptor==2.0.6
cryptography==46.0.1
daphne==4.2.1
Django==4.2.16
django-cors-headers==4.7.0
django-countries==7.6.1
django-filter==25.1
django-timezone-field==7.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dotenv==0.9.9
h11==0.16.0
httptools==0.6.4
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
kombu==5.5.4
msgpack==1.1.1
mysqlclient==2.2.7
packaging==25.0
pillow==11.1.0
prompt_toolkit==3.0.52
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.0
pyOpenSSL==25.3.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
redis==6.4.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.1
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
uvicorn==0.35.0
vine==5.1.0
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
whitenoise==6.11.0
zope.interface==8.0
requests==2.32.5
django-import-export==4.3.14
